[submodule "lab/lab6"]
	path = lab/lab6
	url = https://github.com/ENGCE117/lab6-maythiwat
[submodule "lab/lab7"]
	path = lab/lab7
	url = https://github.com/ENGCE117/lab7-maythiwat
[submodule "lab/lab8"]
	path = lab/lab8
	url = https://github.com/ENGCE117/lab8-maythiwat
[submodule "lab/lab9"]
	path = lab/lab9
	url = https://github.com/ENGCE117/lab9-maythiwat
[submodule "lab/lab10"]
	path = lab/lab10
	url = https://github.com/ENGCE117/lab10-maythiwat
[submodule "lab/lab11"]
	path = lab/lab11
	url = https://github.com/ENGCE117/lab11-maythiwat
[submodule "lab/lab81"]
	path = lab/lab81
	url = https://github.com/ENGCE117/lab81-maythiwat
